.h2 {
  color: var(--blue-darkest);
  padding-left: var(--site-pd);
}

.container {
  width: 100%;
}

.history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--height);
  padding: var(--site-pd);
  margin-left: var(--site-pd);
  color: var(--blue-darkest);
  position: relative;

  --height: 125px;

  &Comment,
  &Location,
  &Date {
    opacity: 0.6;
  }

  &:first-of-type {
    p {
      opacity: 1 !important;
    }
  }

  &Comment {
    margin: 5px 0;
    font-weight: 500;
  }

  &Location {
    margin: 5px 0;
  }

  &Date {
    margin: 5px 0;
    font-size: 0.8em;
    opacity: 0.7;
  }
}

.historyDelayed {
  composes: history;

  p {
    color: var(--red) !important;
  }
}

.delayedText {
  color: var(--red);
  font-weight: 500;

  a {
    text-decoration: none;
    color: var(--blue-normal);
  }
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .h2 {
    padding-left: 0;
  }

  .history {
    margin-left: 0;
  }
}
