.hero {
  display: flex;
  width: 100%;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  background-color: var(--white);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;

  &HomeVaultOne {
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('../../assets/images/hero-images/home-vault-one.jpg');
    background-position-x: 60%;
  }
  &HomePlaneOne {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('../../assets/images/hero-images/home-plane-one.jpg');
  }
  &HomeShipOne {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('../../assets/images/hero-images/home-ship-one.jpg');
    background-position-x: center;
  }
  &HomeWomanOne {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url('../../assets/images/hero-images/home-woman-one.jpg');
    background-position-x: 60%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--white);
  padding: var(--site-pd);
}

.desktopContent {
  display: none;
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .hero {
    align-items: center;
    padding-left: 0;
    background-blend-mode: normal;

    &HomeVaultOne {
      min-height: 95vh;
    }
    &HomeShipOne {
      min-height: 80vh;
      background-image: url('../../assets/images/hero-images/home-ship-two.jpg');
      background-position-y: 45%;
    }
    &HomePlaneOne {
      flex-direction: row-reverse;
      min-height: 80vh;
    }
    &HomeTruckOne {
      min-height: auto;
    }
    &HomeWomanOne {
      min-height: 70vh;
      background-position-y: 50%;
    }
  }

  .content {
    display: none;
  }

  .desktopContent {
    display: block;
  }
}
