.container {
  display: flex;
  flex-direction: column;
  padding: var(--site-pd);
  background-color: var(--white);
  width: 100%;
}

.box {
  min-height: 150px;
  margin: 10px 0;
}

.h2 {
  font-size: 1.3em;
  color: var(--blue-darkest);
}

.p {
  line-height: 1.4;
}

.link {
  font-size: 0.9em;
  text-decoration: none;
  color: var(--blue-darkest);
  border-bottom: 1px solid var(--blue-darkest);
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px var(--site-pdLarge);
  }

  .box {
    margin: 40px 10px;
    max-width: 35vw;
  }
}
