.container {
  padding: var(--site-pd);
  background-color: var(--blue-lightest);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 35vh;
  text-align: center;
}

.introText {
  margin: 0;
}

.infoImage {
  display: none;
}

.label {
  display: block;
  visibility: hidden;
  opacity: 0;
}

.input {
  display: block;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--blue-normal);
  border: 2px solid var(--blue-normal);

  &::placeholder {
    color: inherit;
    text-transform: initial;
  }
}

.submit {
  font-size: 1em;
  padding: 10px 20px;
  background-color: var(--blue-darkest);
  color: var(--blue-lightest);
  border-style: none;
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // height: 500px;
    padding: var(--site-pdLarge);
  }

  .info {
    align-items: flex-start;
    text-align: left;
  }

  .introText {
    max-width: 55vw;
  }

  .infoImage {
    display: block;
    width: auto;
    height: 350px;
  }
}
