.hamburger {
  background-color: transparent;
  border-style: none;
  width: 50px;
  height: 40px;
  position: relative;
  cursor: pointer;
  outline: none !important;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: var(--blue-lightest);
  position: absolute;
  left: 10px;
  transition: top ease-in 100ms 95ms, opacity ease-in 100ms,
    transform ease-in 100ms;

  &:nth-child(1) {
    top: 25%;
  }

  &:nth-child(2) {
    top: 50%;
  }

  &:nth-child(3) {
    top: 75%;
  }

  &Active {
    transition: top ease-in 100ms, opacity ease-in 100ms,
      transform ease-in 100ms 95ms;

    &:nth-child(1) {
      top: 50%;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
