.container {
  width: 100%;
  padding-top: var(--site-pd);
  background-color: var(--blue-lightest);
}

.h2 {
  display: none;
}

.p {
  color: var(--blue-darkest);
  padding: 0 var(--site-pd);
}

.price {
  composes: p;

  font-weight: 500;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0;
  background-color: var(--green);
  padding: 20px;
  color: var(--white);
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .container {
    padding-top: 0;
    text-align: right;
    background-color: transparent;
  }

  .h2 {
    display: block;
    color: var(--blue-darkest);
    margin-bottom: calc(var(--site-pd) * 2);
  }

  .p {
    padding-right: 0;
  }

  .price {
    color: var(--blue-darkest);
    background-color: transparent;
  }
}
