.form {
  padding: var(--site-pd);
  background-color: var(--blue-darkest);
  color: var(--white);
  width: 100%;
}

.label {
  margin-right: 10px;
  display: block;
  min-width: 90px;
  display: none;
}

.input {
  font-size: 1em;
  padding: 10px 20px;
  border-style: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.textArea {
  width: 100%;
  min-height: 250px;
  font-size: 1.1em;
  padding: 10px 20px;
  border-radius: 3px;
}

.submit {
  display: block;
  margin-top: 5px;
  padding: 10px 20px;
  border-style: none;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--blue-lightest);
  color: var(--text-color);
}

// ######################### Desktop styles #############################
@media (min-width: 768px) {
  .form {
    background-color: transparent;
    color: var(--text-color);
    margin-top: 7vh;
    max-width: 500px;
  }

  .label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .input,
  .textArea {
    border: 1px solid var(--blue-darkest);
  }

  .inputContainer {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
  }

  .submit {
    background-color: var(--blue-darkest);
    color: var(--white);
  }
}
